# macOS
.DS_Store
.AppleDouble
.LSOverride

# Banco de dados SQLite
*.db
*.db-journal
*.db-shm
*.db-wal

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Build
dist/
build/
